.row {
  display: flex;
  flex-wrap: wrap;
}

.row > .col-md-2 {
  display: flex;
  align-items: center;
}

.display {
  display: none;
  font-size: 900%;
  margin: 0 auto;
}

div.card {
  height: 200px;
  background-color: papayawhip;
  border: 1px solid tomato;
}
